.sing-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 35px;
    margin-left: 30%;

    border: 2px solid blue;

    width: fit-content;
}

.sing-in h1{
    font-size: 32px;
    color: white;

    background-color: blue;

    padding: 15px 25px;

    margin: 0;
}

.sing-in form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 15px;
    
    width: 100%;
}

.sing-in form input{
    margin-top: -10px;
}

.sing-in form label:nth-child(1){
    margin-top: 15px;
}

.sing-in form input,
.sing-in form label{
    margin-left: 25%;
}

.sing-in form button{
    font-size: 20px;
    color: white;

    background-color: blue;
    
    padding: 15px 25px;

    width: 100%;

    border: none;

    cursor: pointer;
}