<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vodogray Admin</title>
    <link rel="stylesheet" href="static/style/admin/login.css">
    <link rel="stylesheet" href="static/style/admin/admin.css">
</head>

<body>
    <section class="sing-in">
        <h1>Vodogray Hotell Admin</h1>

        <form action="" method="post">
            <label for="Login">Login</label>
            <input type="text" name="Login" id="">

            <label for="Password">Password</label>
            <input type="password" name="Password" id="">

            <button type="submit">Enter</button>
        </form>
    </section>

    <section class="admin">
        <div class="admin-about-us">
            <img src="static/img/vodogray.png" alt="">

            <form action="" method="post">
                <input type="file" name="photo" id="">

                <button type="submit">Load</button>
            </form>
        </div>

        <div class="admin-rooms">
            <div class="admin-room">
                <img src="static/img/vodogray.png" alt="">

                <form action="" method="post">
                    <input type="file" name="photo" id="">

                    <button type="submit">Load</button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>