header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 30px 100px;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-left: 50px;
}

.phone img{
    width: 30px;
    height: 30px;
}

.phone p{
    font-size: 18px;
    color: white;
    font-family: 'Lora';
}

header a{
    padding: 10px 50px;
    background-color: #BD9765;
    border-radius: 10px;

    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
}