<head>
    <link rel="stylesheet" href="static/style/base.css">
    <link rel="stylesheet" href="static/style/footer.css">
</head>
<footer>
    <section class="info">
        <div class="foter-title">
            <h1>Водограй</h1>
            <p>Готель-кафе Водограй</p>
        </div>

        <div class="footer-smm">
            <p>ⒸВодограй всі права захищені</p>
            <a>with love, SmmAge</a>
        </div>
    </section>

    <section class="map">
        <h1>Навігація</h1>

        <a href="#home">Головна</a>
        <a href="#history">Історія</a>
        <a href="#rooms">Номери</a>
        <a href="#history">Галерея</a>
    </section>

    <section class="footer_contacts">
        <h1>Контакти</h1>
        <p>+380 97 688 67 71</p>
        <a href="">@instagram</a>
        <p>м. Київ вул. Равуцького 7</p>
    </section>

    <section class="socialmedia">
        <h1>Ми в соцмережах</h1>

        <div class="media">
            <a href=""><img src="static/img/instagram.png" alt=""></a>
            <a href=""><img src="static/img/telegram.png" alt=""></a>
        </div>
    </section>
</footer>