<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/style/base.css">
    <link rel="stylesheet" href="static/style/index.css">
    <link rel="stylesheet" href="static/style/slider.css">
</head>

<body>
    {% include "header.html" %}

    <section class="home" id="home">
        <div class="info">
            <h1>Готель, де комфорт поєднується з домашнім затишком</h1>
            <p>Приємні номери, смачна кухня та гостинність у серці Києва</p>
            <a href="#rooms">Переглянути номери</a>
        </div>
    </section>

    <section class="history" id="history">
        <img src="" alt="">

        <div class="info">
            <p>Наша історія</p>
            <h2>Більше, ніж готель</h2>
            <p>Ми створили місце, де кожен гість відчуває себе як вдома.
                Вже багато років ми приймаємо гостей, поєднуючи комфорт,
                якісний сервіс і теплу атмосферу.</p>
            <p>Наш готель - це про турботу в деталях, смачну домашню кухню
                та щиру гостинність.</p>

            <div class="stars">
                <div class="star">
                    <img src="static/img/stars.png" alt="">
                    <h2>15+</h2>
                    <p>років досвіду</p>
                </div>

                <div class="star">
                    <img src="static/img/guests.png" alt="">
                    <h2>1000+</h2>
                    <p>задоволених гостей</p>
                </div>

                <div class="star">
                    <img src="static/img/alltime.png" alt="">
                    <h2>24/7</h2>
                    <p>прийом гостей</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <h2>Про Готель</h2>

        <div class="perspective">
            <div class="per">
                <img src="static/img/bed.png" alt="">
                <p>Комфортні номери</p>
            </div>

            <div class="per">
                <img src="static/img/cafe.png" alt="">
                <p>Кафе української кухні</p>
            </div>

            <div class="per">
                <img src="static/img/parking.png" alt="">
                <p>Паркінг для гостей</p>
            </div>

            <div class="per">
                <img src="static/img/wifi.png" alt="">
                <p>Wi-Fi на всій території</p>
            </div>

            <div class="per">
                <img src="static/img/clining.png" alt="">
                <p>Щоденне прибирання</p>
            </div>

            <div class="per">
                <img src="breakfest" alt="">
                <p>Сніданки включено</p>
            </div>
        </div>
    </section>

    <section class="rooms" id="rooms">
        <h2>Номери</h2>

        <div class="room">
            <img src="" alt="">

            <div class="info">
                <h1>Стандартний номер</h1>

                <div class="include">
                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Двоспальне ліжко</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Wi-Fi</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Кондиціонер</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Рушники</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Телевізор</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Тераса</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Ванна кімната</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Душ</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Робочий стіл</p>
                    </div>

                    <div class="incl">
                        <img src="static/img/checkbox.png" alt="">
                        <p>Фен</p>
                    </div>
                </div>

                <div class="price">
                    <p>Від</p>
                    <h2>1800</h2>

                    <button class="order-btn">Детальніше</button>
                </div>
            </div>
        </div>
    </section>

    <section class="slideshow" id="slideshow">
        <h1>Галерея</h1>
        <div class="slider">
            <button class="prev">&#10094;</button>

            <div class="slider-window">
                <div class="slider-track">
                    <img src="https://picsum.photos/id/1015/400/250" alt="">
                    <img src="https://picsum.photos/id/1016/400/250" alt="">
                    <img src="https://picsum.photos/id/1018/400/250" alt="">
                    <img src="https://picsum.photos/id/1020/400/250" alt="">
                    <img src="https://picsum.photos/id/1024/400/250" alt="">
                    <img src="https://picsum.photos/id/1027/400/250" alt="">
                    <img src="https://picsum.photos/id/1035/400/250" alt="">
                </div>
            </div>

            <button class="next">&#10095;</button>
        </div>
    </section>

    <section class="contacts">
        <img src="" alt="">

        <div class="contact">
            <h2>Контакти</h2>

            <div class="cont">
                <img src="static/img/loc.png" alt="">
                <p>м. Київ вул. Равуцького 7</p>
            </div>

            <div class="cont">
                <img src="static/img/phone2.png" alt="">
                <p>+380 97 688 67 71</p>
            </div>

            <div class="cont">
                <img src="static/img/mail.png" alt="">
                <p>dmon@ukr.net</p>
            </div>

            <div class="cont">
                <img src="static/img/insta.png" alt="">
                <a href="">@instagram</a>
            </div>

            <div class="cont">
                <img src="static/img/clock.png" alt="">
                <p>Щодня 00:00 - 24:00</p>
            </div>

            <button class="rout">Побудувати маршрут</button>
        </div>

        <img src="" alt="">
    </section>

    <script src="static/js/slideshow.js"></script>

    {% include "footer.html" %}
</body>

</html>