<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/style/index.css">
    <link rel="stylesheet" href="static/style/base.css">
    <!-- <link rel="stylesheet" href="static/style/slider.css"> -->
</head>

<body>
    {% include "header.html" %}

    <main class="index">

        <section class="home" id="home">
            <div class="info">
                <h1>Готель, де комфорт поєднується з домашнім затишком</h1>
                <p>Приємні номери, смачна кухня та гостинність у серці Києва</p>
                <a href="#rooms">Переглянути номери</a>
            </div>
        </section>

        <section class="about us">
            <img src="static/img/vodogray.png" alt="">

            <div class="info">
                <p>Про нас</p>
                <h2>Більше, ніж готель</h2>
                <p>Ми створили місце, де кожен гість відчуває себе як
                    вдома. Вже багато років ми приймаємо гостей, поєднуючи
                    комфорт, якісний сервіс і теплу атмосферу.</p>
                <p>Наш готель - це про турботу в деталях, смачну домашню
                    кухню та щиру гостинність.</p>

                <div class="stars">
                    <div class="star">
                        <img src="static/img/stars.png" alt="">
                        <h2>15+</h2>
                        <p>років досвіду</p>
                    </div>

                    <div class="star">
                        <img src="static/img/guests.png" alt="">
                        <h2>1000+</h2>
                        <p>задоволених гостей</p>
                    </div>

                    <div class="star">
                        <img src="static/img/alltime.png" alt="">
                        <h2>24/7</h2>
                        <p>прийом гостей</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about hotel">
            <h2>Про Готель</h2>

            <div class="perspective">
                <div class="per">
                    <img src="static/img/bed.png" alt="">
                    <p>Комфортні номери</p>
                </div>

                <div class="per">
                    <img src="static/img/cafe.png" alt="">
                    <p>Кафе української кухні</p>
                </div>

                <div class="per">
                    <img src="static/img/parking.png" alt="">
                    <p>Паркінг для гостей</p>
                </div>

                <div class="per">
                    <img src="static/img/wifi.png" alt="">
                    <p>Wi-Fi на всій території</p>
                </div>

                <div class="per">
                    <img src="static/img/clining.png" alt="">
                    <p>Щоденне прибирання</p>
                </div>

                <div class="per">
                    <img src="static/img/breakfest.png" alt="">
                    <p>Сніданки включено</p>
                </div>
            </div>
        </section>

        <section class="rooms" id="rooms">
            <h2>Номери</h2>

            <div class="room">
                <img src="static/img/vodogray.png" alt="">

                <div class="info">
                    <h1>Стандартний номер</h1>

                    <div class="include">
                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Двоспальне ліжко</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Wi-Fi</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Кондиціонер</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Рушники</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Телевізор</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Тераса</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Ванна кімната</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Душ</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Робочий стіл</p>
                        </div>

                        <div class="incl">
                            <img src="static/img/checkbox.png" alt="">
                            <p>Фен</p>
                        </div>
                    </div>

                    <div class="price">
                        <p>Від</p>
                        <h2>1800</h2>

                        <!-- <button class="order-btn">Детальніше</button> -->
                    </div>
                </div>
            </div>
        </section>

        <section class="history" id="history">
            <div class="info">
                <h1>Наша історія</h1>
                <h2>Понад 20 років гостинності та домашнього затишку</h2>
                <p>Від невеликого придорожнього комплексу до сучасного
                    готелю з комфортними номерами та затишним кафе наш шлях
                    був наповнений працею, розвитком та щирим бажанням
                    дарувати гостям тепло і турботу.</p>
                <p>Сьогодні «Водограй» — це поєднання традиційної
                    української гостинності та європейського сервісу в
                    самому серці Києва.</p>
            </div>

            <div class="slideshow">
                <div class="slide">
                    <img src="static/img/retro_vodoray.png" alt="">
                    <div class="title">
                        <h2>2001</h2>
                        <h2>Початок історії</h2>
                    </div>
                    <p>Саме з цього року розпочалася історія готелю-кафе
                        «Водограй». Ми відкрили двері для перших гостей з
                        бажанням створити місце, де кожен почуватиметься як
                        вдома.</p>
                </div>
                <div class="slide">
                    <img src="static/img/retro_coffe.png" alt="">
                    <div class="title">
                        <h2>Затишне кафе</h2>
                    </div>
                    <p>Кафе «Водограй» це смачна українська кухня,
                        традиційні рецепти та тепла атмосфера.</p>
                </div>
                <div class="slide">
                    <img src="static/img/retro_room.png" alt="">
                    <div class="title">
                        <h2>Комфорт для кожного</h2>
                    </div>
                    <p>Наші номери - це поєднання зручності, чистоти та
                        затишку. Ми дбаємо про кожну деталь, щоб ви могли
                        повноцінно відпочити.</p>
                </div>
                <div class="slide">
                    <img src="static/img/retro_bell.png" alt="">
                    <div class="title">
                        <h2>Подяка гостям</h2>
                    </div>
                    <p>Ми вдячні кожному гостю за довіру та вибір.
                        Запрошуємо і надалі ставати частиною історії
                        «Водограю»!</p>
                </div>
                <div class="slide">
                    <img src="static/img/retro_comand.png" alt="">
                    <div class="title">
                        <h2>Наша команда</h2>
                    </div>
                    <p>Головна цінність «Водограю» — це люди.</p>
                    <p>Наша команда професіоналів щодня працює для того,
                        щоб ваш відпочинок був комфортним, а враження
                        найкращими.</p>
                </div>
            </div>
        </section>

        <section class="contacts">
            <img src="static/img/vodogray.png" alt="">

            <div class="contact">
                <h2>Контакти</h2>

                <div class="cont">
                    <img src="static/img/loc.png" alt="">
                    <p>м. Київ вул. Равуцького 7</p>
                </div>

                <div class="cont">
                    <img src="static/img/phone2.png" alt="">
                    <p>+380 97 688 67 71</p>
                </div>

                <div class="cont">
                    <img src="static/img/mail.png" alt="">
                    <p>dmon@ukr.net</p>
                </div>

                <div class="cont">
                    <img src="static/img/insta.png" alt="">
                    <a href="">@instagram</a>
                </div>

                <div class="cont">
                    <img src="static/img/clock.png" alt="">
                    <p>Щодня 00:00 - 24:00</p>
                </div>

                <a href="https://www.google.com/maps/dir/?api=1&destination=50.3002357,31.3569275" target="_blank"
                    class="route-btn">Побудувати маршрут</a>
            </div>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2548.55491405534!2d31.354352576548443!3d50.30023567156378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4f891bfe028f3%3A0xac3134dce2298d82!2z0JPQvtGC0LXQu9GM0L3QuNC5INC60L7QvNC_0LvQtdC60YEg0JLQvtC00L7Qs9GA0LDQuQ!5e0!3m2!1suk!2sua!4v1783181381148!5m2!1suk!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="strict-origin-when-cross-origin"></iframe>
        </section>

        <!-- <script src="static/js/slideshow.js"></script> -->

    </main>

    {% include "footer.html" %}
</body>

</html>